// --------------  модальное окно "Карточка товара"
.modal-product-card {
	box-sizing: border-box;
	width: 100%;
	max-width: 1312px;
	background-color: var(--clr-white);
	position: relative;
	padding: 72px 112px 64px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	// overflow-y: auto;

		&__close {
			position: absolute;
			top: 24px;
			right: 24px;
		}

		&__images-wrapper {
			flex-basis: 511px;
			max-width: 511px;
		}

		&__large-images {
			margin-bottom: 24px;
		}

		&__small-images {
		}

		&__description-wrapper {
			flex-basis: 529px;
			max-width: 529px;
		}

		&__product-article {
			font-size: 12px;
			margin-bottom: 16px;
			color: var(--clr-dark);
		}
		&__product-article::before{
			content: attr(data-signature);
			display: inline-block;
			font-weight: 700;
			margin-right: 6px;
		}

		&__product-title,
		&__order-btn {
			margin-bottom: 32px;
		}

		&__order-btn {
			padding: 16px 73px;
		}

		&__product-description {
			margin-bottom: 24px;
		}

		&__product-structure {
			margin-bottom: 24px;
		}

		&__product-storage {
			margin-bottom: 24px;
		}

		&__product-pack {
			margin-bottom: 24px;
		}

		&__product-maker {
			margin-bottom: 24px;
		}

		&__product-brand {
		}

		&__product-structure::before,
		&__product-storage::before,
		&__product-pack::before,
		&__product-maker::before,
		&__product-brand::before {
			content: attr(data-signature);
			// display: inline-block;
			font-weight: 700;
			margin-right: 6px;
		}

		@media screen and (max-width: 1320px){
			
			max-width: 960px;
			padding: 80px 40px 64px;

			&__images-wrapper {
				max-width: 423px;
			}

			&__description-wrapper {
				max-width: 425px;
			}
		
		}
	
		@media screen and (max-width: 960px){
			
			max-width: none;
			padding: 80px 24px 64px;

			&__images-wrapper {
				max-width: 48%;
			}

			&__description-wrapper {
				max-width: 48%;
			}
		
		}
	
		@media screen and (max-width: 480px){
			
			display: block;
			padding: 80px 16px 64px;

			&__images-wrapper {
				max-width: none;
				margin-bottom: 48px;
			}

			&__description-wrapper {
				max-width: none;
			}
		
		}
	
		@media screen and (max-width: 320px){
	
			&__order-btn {
					width: 100%;
				}
		
		}
}


@media screen and (max-width: 960px){
			
	#id-modal-product-card>.mcrmdl-overlay {
		padding: 0;
	}
}

.mpc {

	&__lrg-img-sld-wrap {
		width: 100%;
		height: 436px;
	}

	&__lrg-img-sld-wrap img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center center;
			
		}

	// ------------------------------------------------
	
	&__sml-img-sld-wrap{
		width: 100%;
		height: 72px;
	}

	&__sml-img-sld-wrap img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center center;
	}

	@media screen and (max-width: 320px){

		&__lrg-img-sld-wrap {
			height: 231px;
		}

		&__sml-img-sld-wrap img,
		&__lrg-img-sld-wrap img {
			object-fit: scale-down;
		}
	
	}
	

}