// --------------  модальное окно "Заказать товар"

.modal-product-order {
	
	background-color: var(--clr-white);
	border-radius: 4px;
	max-width: 816px;
	padding: 56px 72px 40px;
	position: relative;

	&__close {
		position: absolute;
		top: 16px;
		right: 16px;
	}

	&__order {
		margin-bottom: 8px;
	}

	&__product-article {
		margin-bottom: 8px;
	}

	&__product {
		margin-bottom: 24px;
	}

	&__input-wrap {
		display: grid;
		gap: 16px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto auto;
		margin-bottom: 24px;
	}

	&__name {
		grid-column: span 2;
	}

	&__text {
		grid-column: 2 / span 1;
		grid-row: 2 / 4;
	}

	&__text textarea {
		height: 128px;
	}

	&__foter-wrap{
		display: flex;
		justify-content: space-between;
	}

	&__note {
		flex-basis: 288px;
	}


	// ---- media start ----

	@media screen and (max-width: 820px){

		max-width: 720px;
		padding: 56px 32px 40px;
	
	}

	@media screen and (max-width: 740px){

		max-width: 600px;
		padding: 48px 20px 24px;
	
	}

	@media screen and (max-width: 610px){

		max-width: 540px;
		padding: 48px 20px 24px;
	
	}

	@media screen and (max-width: 550px){
		
		max-width: 380px;

		&__input-wrap {
			display: block;
			margin-bottom: 24px;
		}

		&__input-wrap label:not(:last-child) {
			margin-bottom: 16px;
		}

		&__foter-wrap{
			display: block;
		}

		&__note {
			margin-bottom: 24px;
		}

		&__button {
			width: 100%;
		}
	}

	@media screen and (max-width: 320px){

		max-width: 95%;

	}
}