// --------------  модальное окно "Карточка товара"
.modal-product-card {
	max-width: 1312px;
	// max-height: 95vh;
	background-color: var(--clr-white);
	position: relative;
	padding: 72px 112px 64px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	// overflow-y: auto;

		&__close {
			position: absolute;
			top: 24px;
			right: 24px;
		}

		&__images-wrapper {
			flex-basis: 45%;
			max-width: 45%;
		}

		&__large-images {
			margin-bottom: 24px;
		}

		&__small-images {
		}

		&__description-wrapper {
			flex-basis: 45%;
			max-width: 45%;
		}

		&__product-article {
			font-size: 12px;
			margin-bottom: 16px;
			color: var(--clr-dark);
		}
		&__product-article::before{
			content: attr(data-signature);
			display: inline-block;
			font-weight: 700;
			margin-right: 6px;
		}

		&__product-title,
		&__order-btn {
			margin-bottom: 32px;
		}
		&__order-btn {
			padding: 16px 73px;
		}

		&__product-description {
			margin-bottom: 24px;
		}

		&__product-structure {
			margin-bottom: 24px;
		}

		&__product-storage {
			margin-bottom: 24px;
		}

		&__product-pack {
			margin-bottom: 24px;
		}

		&__product-maker {
			margin-bottom: 24px;
		}

		&__product-brand {
		}

		&__product-structure::before,
		&__product-storage::before,
		&__product-pack::before,
		&__product-maker::before,
		&__product-brand::before {
			content: attr(data-signature);
			// display: inline-block;
			font-weight: 700;
			margin-right: 6px;
		}
}

.mpc {

	&__lrg-img-swp {
		max-width: 100%;
		max-height: 436px;
	}

	&__lrg-img-swp-sld {
		width: 100%;
		height: 100%;
		// background: var(--clr-accent--light);
	}

	&__lrg-img-sld-wrap img {
			display: block;
			width: auto;
			max-height: 436px;
			margin: 0 auto;
			object-fit: contain;
			object-position: center center;
			
		}
	// ------------------------------------------------
	&__sml-img-swp {
		max-width: 100%;
		max-height: 72px;
	}

	&__sml-img-swp-wrp {
		width: 100%;
		height: 100%;
	}

	&__sml-img-swp-sld {
		width: 100%;
		height: 100%;
		// background: var(--clr-accent--light);
	}

	&__sml-img-sld-wrap img{
		
		display: block;
		width: auto;
		max-height: 60px;
		margin: 0 auto;
		object-fit: contain;
		object-position: center center;
	}

}