// --------------- секция бренды 
.brands {

	&__container{
		padding-top: var(--section-offset);
		// padding-bottom: var(--section-offset);
	}

	&__header {
		margin-bottom: 48px;
		display: flex;
		align-items: flex-end;
	}

	&__content-wrapper {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		padding: 64px 128px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		flex-basis: 416px;
		height: 248px;
		margin-right: 15px;
	}

	&__logo img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center center;
	}

	&__description {
		flex-basis: 515px;
		margin-left: 80px;
	}

	@media screen and (max-width: 1024px){

		&__content-wrapper {
			padding: 64px 88px;
		}
	
	}

	@media screen and (max-width: 768px){

		&__content-wrapper {
			display: block;
			padding: 55px 80px;
		}

		&__logo {
			flex-basis: auto;
			width: 100%;
			height: 248px;
			max-width: 296px;
			margin-right: 0;
			margin-bottom: 48px;
		}

		&__description {
			flex-basis: auto;
			margin-left: 0;
		}
	
	}

	@media screen and (max-width: 480px){
		
		&__header {
			margin-bottom: 40px;
		}

		&__content-wrapper {
			padding: 40px 24px;
		}
	
	}

	@media screen and (max-width: 320px){

		&__header {
			margin-bottom: 24px;
		}

		&__content-wrapper {
			padding: 32px 16px;
		}

		&__logo {
			height: 162px;
		}
	
	}

}

// ---------------------- swiper сеции бренд --------------------------
.brands-swiper {
	padding: 10px;
	
	&__slide{
		width: 100%;
		background-color: var(--clr-white);
		border-radius: 4px;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
	}

	&__btn-wrap {
		width: 92px;
		height: 40px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		// background: #000;
	}

	@media screen and (max-width: 650px){
		
		&__btn-wrap {
			display: none;
		}
	
	}

}
