// --------------  секция сотрудничество
.cooperation {
	
	&__container {
		padding-top: var(--section-offset);
	}
	
	&__content-wrap {
		display: flex;
		border-radius: 4px;
		box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05);
		background-color: var(--clr-white);
		overflow: hidden;
	}
	
	// ------------ призыв
	&__call {
		flex-basis: 57%;
		width: 100%;
		background-image: url(../img/question_background.jpg);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
		color: var(--clr-white);
		padding: 176px 155px 168px;
	}
	
	&__subtitle {
		font-size: 30px;
		margin-bottom: 24px;
	}

	// --------------- форма
	&__form {
		display: block;
		flex-basis: 43%;
		padding: 64px 104px;
		position: relative;
	}

	&__input-wrap {
		margin-bottom: 24px;
	}

	&__input:not(:last-child) {
		margin-bottom: 16px;
	}

	&__note {
		margin-bottom: 24px;
	}

	&__button {
		width: 100%;
	}
	// ---- media start ----

	@media screen and (max-width: 1024px){

		&__content-wrap {
			display: block;
		}

		&__call {
			flex-basis: auto;
			padding: 88px 100px;
		}

		&__form {
			padding: 56px 100px;
		}

		&__input-wrap {
			display: grid;
			gap: 16px;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto auto;
		}

		&__input.input-wrap__ico--question {
			grid-column: 2 / span 1;
			grid-row: 1 / 4;
		}
		
		&__input:not(:last-child) {
			margin-bottom: 0;
		}

		&__footer {
			display: flex;
			justify-content: space-between;
		}

		&__note {
			margin-bottom: 0;
			width: 100%;
			max-width: 352px;
			display: inline-block;
			margin-right: 30px;
		}
		&__button {
			max-width: 220px;
			margin-left: auto;
		}
	
	}

	@media screen and (max-width: 768px){
		
		&__call {
			padding: 64px 48px;
		}

		&__form {
			padding: 56px 48px;
		}
	
	}

	@media screen and (max-width: 480px){
		
		&__call {
			padding: 48px 24px;
		}

		&__form {
			padding: 32px 24px;
		}

		&__footer {
			display: block;
		}

		&__input-wrap {
			display: block;
			margin-bottom: 24px;
		}
		
		&__input:not(:last-child) {
			margin-bottom: 16px;
		}

		&__note {
			margin-bottom: 24px;
		}

		&__button {
			max-width: none;
		}
	}

	@media screen and (max-width: 320px){
		
		&__call {
			padding: 56px 24px;
		}

		&__form {
			padding: 32px 20px;
		}
	
	}

}
