// --------------  секция вакансии

.vacancies {
	padding-top: var(--section-offset);

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__img-wrap {
		flex-basis: calc(54% - var(--container-offset));
		flex-shrink: 0;
		margin-right: 32px;
		background-color: var(--clr-smalt--light);
		min-height: 580px;
		height: 100%;
		width: 100%;
		border-radius: 4px;
	}

	&__img-wrap img {
		display: block;
		width: 100%;
		height: 580px;
		object-fit: cover;
		object-position: center center;
	}

	&__content-wrap {
		flex-basis: 528px;
		width: 100%;
		max-width: 528px;
	}

	&__title {
		margin-bottom: 32px;
	}

	&__post {
		margin-bottom: 40px;
	}

	&__link::after {
		content: '';
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-left: 10px;
		background-image: url(/img/s_vacancies/ico-to_link.svg);
		background-position: center center;
		position: relative;
		bottom: -3px;
	}

	@media (max-width: 768px){
		&__container {
			display: block;
		}
		&__img-wrap {
			margin-right: 0;
			min-height: auto;
			max-height: 450px;
			margin-bottom: 40px;
		}
	
		&__img-wrap img {
			max-height: 450px;
			height: auto;
		}

	}

	@media (max-width: 480px){
		&__img-wrap {
			max-height: 280px;
			margin-bottom: 40px;
		}
	
		&__img-wrap img {
			max-height: 280px;
		}
	}

	@media (max-width: 320px){
		
		&__img-wrap {
			max-height: 180px;
			margin-bottom: 32px;
		}

		&__img-wrap img {
			max-height: 180px;
		}
	}



}