// общие стили кнопок для навигации

.swiper-button-next, 
.swiper-button-prev {
	--swiper-navigation-size: 16px;
	--swiper-theme-color: var(--clr-accent);
	position: static !important;
	font-weight: 700;
	background-color: var(--clr-white);
	width: 40px !important;
	height: 40px !important;
	border-radius: 100%;
	transition: color 0.35s cubic-bezier(0.6, 0.05, 0.28, 0.91), background-color 0.35s cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

.swiper-button-next:hover, 
.swiper-button-prev:hover {
	--swiper-theme-color: var(--clr-white);
	background-color: var(--clr-accent);
}

.small-nav-bar {

	width: 154px;
	height: 31px;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;


	&__scroll-wrap{
		width: 124px;
		height: 5px;
	}

	&__scroll-bar {
		height: 2px;
		background-color: var(--clr-accent);	
		z-index: 15;
	}

	&__pagination {
		text-align: right;
		width: 154px;
		display: flex;
		justify-content: space-between;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&__pagination span {
		display: inline-block;
		font-family: var(--ff-basis);
		font-style: normal;
		font-weight: 600;
		color: var(--clr-dark);
		line-height: 1;
	}

	&__pagination span:first-child {
		font-size: 24px;
	}

	&__pagination span:last-child{
		font-size: 12px;
	}

	@media screen and (max-width: 320px){
		width: 134px;
		
		&__scroll-wrap{
			width: 100px;
		}

		&__pagination {
			width: 134px;
		}
	
	}
}







